/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <input/processors.dtsi>                // Provides &zip_xy_transform, &zip_xy_to_scroll_mapper, &zip_scroll_scaler
#include <dt-bindings/zmk/input_transform.h>    // Provides INPUT_TRANSFORM_X_INVERT and INPUT_TRANSFORM_Y_INVERT

/* common device tree between left and right hand for the trackball */
/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball_split>;
    };
};

/* main trackball listener since left hand is the central */
&trackball_listener {
    status = "okay";

    scroller {
        layers = <1>;
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>, <&zip_xy_to_scroll_mapper>, <&zip_scroll_scaler 1 30>;
        process-next;
    };
};
